*{
    scroll-behavior: smooth;
}
body {
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    rgb(29, 107, 143),
    rgb(15, 42, 83),
    rgb(36, 22, 73),
    rgb(8, 7, 54)
  );
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/*Header*/
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 50px;
 
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: rgb(235, 245, 250);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #00090e;
}

/*--------Home-----*/
.home {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-1 {
  font-size: 40px;
  color: aliceblue;
}
.title-2 {
  font-size: 60px;
  color: aliceblue;
}
.title-3 {
  font-size: 30px;
  color: aliceblue;
}
.btn-group {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.quick-btn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 70px;
  background-color: rgba(0, 0, 0, 0.144);
  color: aliceblue;
}
.quick-btn:hover {
  border-color: rgba(0, 167, 167, 0.507);
  transition-duration: 0.2s;
  box-shadow: 5px 5px 50px 10px rgba(111, 0, 255, 0.199);
  background-color: rgba(0, 0, 0, 0.342);
}

/*------------About-------------*/

.about {
  width: 100%;
  height: 800px;
  /* background:linear-gradient(rgb(36, 22, 73),rgb(36, 22, 73),rgb(4, 19, 41)); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-container {
  width: 80%;
  height: 80%;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 70px;
  background-color: rgba(0, 0, 0, 0.144);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.about-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.about-left {
  width: 30%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.skills {
  text-align: center;
  color: white;
  font-size: 30px;
}

p {
  color: white;
}
.aboutme {
  font-size: 23px;
}

/*------------Project--------------*/

.products-container {
  width: 100%;
  height: 900px;
  /* background: linear-gradient(rgb(4, 19, 41),rgb(36, 29, 95),rgb(16, 21, 27)); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 45px;
}
.product-header {
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.title {
  font-size: 60px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.products {
  height: auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.product-card {
  width: 100%;
  height: 400px;
  border-radius: 70px;
  background-color: rgba(0, 0, 0, 0.144);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid rgb(80, 80, 80);
  transition-duration: 0.4s;
}
.card-image {
  width: 50%;
  height: 70%;
}

.card-content {
  width: 80%;
  height: 20%;
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
h3 {
  font-family: "Open Sans", sans-serif;
  color: aliceblue;
  text-align: center;
}
.product-card:hover {
  border-color: rgba(0, 167, 167, 0.507);
  transition-duration: 0.2s;
  box-shadow: 5px 5px 50px 10px rgba(111, 0, 255, 0.199);
}

/*------------Contact--------*/

/*media*/

@media (min-width: 700px) and (max-width: 900px) {
  .products-container {
    height: 1000px;
  }
  .products {
    grid-template-columns: 1fr 1fr;
  }
  .product-card {
    height: 300px;
  }
}
@media (min-width: 100px) and (max-width: 500px) {
    header{
        flex-direction: column;
    }
    ul li{
         gap: 30px;
    }
  .home {
    height: 600px;
  }
  .title-1 {
    font-size: 20px;
  }
  .title-2 {
    font-size: 40px;
    text-align: center;
  }
  .title-3 {
    font-size: 20px;
  }
  .btn-group {
    margin-top: 50px;
    height: 10%;
  }
  .about-container {
    border-radius: 30px;
    width: 90%;
    height: 90%;
    flex-direction: column;
  }
  .products-container {
    height: 1300px;
  }
  .product-header {
    height: 10%;
  }
  .products {
    grid-template-columns: 1fr;
    width: 90%;
  }
  .product-card {
    height: 300px;
  }
}
